{% extends ':Admin:base.html.twig' %}

{% block title %}{{ 'frontpage_index'|trans }}{% endblock %}

{% block body -%}

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% include ':Admin:icon.html.twig' %}{{ 'frontpage_index'|trans }}</h1>
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">{{ icon('remove fa-fw') }}</button>
                            <strong>{{ 'notification'|trans }}: </strong>{{ message|trans }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{{ path('frontpage_new') }}">{{ icon('file') }}&nbsp;{{ 'frontpage_new'|trans }}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="records_list table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'frontpage_title'|trans, 'title') }}{% if sort == 'title' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'frontpage_subtitle'|trans, 'subtitle') }}{% if sort == 'subtitle' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'frontpage_email'|trans, 'email') }}{% if sort == 'email' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'frontpage_phonenumber'|trans, 'phonenumber') }}{% if sort == 'phonenumber' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'frontpage_address'|trans, 'address') }}{% if sort == 'address' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'frontpage_active'|trans, 'active') }}{% if sort == 'active' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in pagination %}
                                <tr class='clickableRow' href="{{ path('frontpage_show', { 'id': entity.id }) }}">
                                    <td>{% if entity.title %}{{ entity.title }}{% endif %}</td>
                                    <td>{% if entity.subtitle %}{{ entity.subtitle }}{% endif %}</td>
                                    <td>{% if entity.email %}{{ entity.email }}{% endif %}</td>
                                    <td>{% if entity.phonenumber %}{{ entity.phonenumber }}{% endif %}</td>
                                    <td>{% if entity.address %}{{ entity.address }}{% endif %}</td>
                                    <td>{% if entity.active %}{{ 'Si' }}{% else %}{{ 'No' }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}
