{% extends ':Admin:base.html.twig' %}

{% block title %}{{ 'dashboard_index'|trans }}{% endblock %}

{% block body -%}

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% include ':Admin:icon.html.twig' %}{{ 'dashboard_index'|trans }}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('clone fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if frontpage %}{{ frontpage }}{% endif %}</div><div>{{ 'frontpage_index'|trans }}</div></div>
            </div></div></div></div>

            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('cogs fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if service %}{{ service }}{% endif %}</div><div>{{ 'service_index'|trans }}</div></div>
            </div></div></div></div>

            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('paper-plane fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if process %}{{ process }}{% endif %}</div><div>{{ 'process_stages'|trans }}</div></div>
            </div></div></div></div>

            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('sitemap fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if member %}{{ member }}{% endif %}</div><div>{{ 'member_index'|trans }}</div></div>
            </div></div></div></div>

            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('sitemap fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if memberrole %}{{ memberrole }}{% endif %}</div><div>{{ 'memberrole_index'|trans }}</div></div>
            </div></div></div></div>

            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('newspaper-o fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if notice %}{{ notice }}{% endif %}</div><div>{{ 'notice_index'|trans }}</div></div>
            </div></div></div></div>

            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('newspaper-o fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if noticecategory %}{{ noticecategory }}{% endif %}</div><div>{{ 'noticecategory_index'|trans }}</div></div>
            </div></div></div></div>

            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('picture-o fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if gallery %}{{ gallery }}{% endif %}</div><div>{{ 'gallery_photos'|trans }}</div></div>
            </div></div></div></div>

            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('bullhorn fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if publication %}{{ publication }}{% endif %}</div><div>{{ 'publication_index'|trans }}</div></div>
            </div></div></div></div>

            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('flag fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if report %}{{ report }}{% endif %}</div><div>{{ 'report_index'|trans }}</div></div>
            </div></div></div></div>

            <div class="col-lg-3 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><div class="row">
                <div class="col-xs-3">{{ icon('user fa-5x') }}</div>
                <div class="col-xs-9 text-right"><div class="huge">{% if user %}{{ user }}{% endif %}</div><div>{{ 'user_index'|trans }}</div></div>
            </div></div></div></div>

{#}
            <div class="col-md-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Número de registros
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                            <dt>{{ 'frontpage_index'|trans }}</dt><dd>{% if frontpage %}{{ frontpage }}{% endif %}</dd>
                            <dt>{{ 'service_index'|trans }}</dt><dd>{% if service %}{{ service }}{% endif %}</dd>
                            <dt>{{ 'process_index'|trans }}</dt><dd>{% if process %}{{ process }}{% endif %}</dd>
                            <dt>{{ 'member_index'|trans }}</dt><dd>{% if member %}{{ member }}{% endif %}</dd>
                            <dt>{{ 'notice_index'|trans }}</dt><dd>{% if notice %}{{ notice }}{% endif %}</dd>
                            <dt>{{ 'publication_index'|trans }}</dt><dd>{% if publication %}{{ publication }}{% endif %}</dd>
                            <dt>{{ 'report_index'|trans }}</dt><dd>{% if report %}{{ report }}{% endif %}</dd>
                        </dl>
                    </div>
                </div>
            </div>
{#}
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}
